{
	margin: 0px;
	padding: 0px;
	font-family: 'Poppins'. sans-serif;
}
body{
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.container{
	background-image: url(backgroung_ffllc.png);
    height: 150vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right;
    min-height: 75px;

}

.toggle{
        width: 68%;
	background: #800000;
	left: 30%;
	top: 75px;
	right: 200px;
	box-shadow: 0px 5px 6px 5px;
}

.logoA{
	position: absolute;
	top: 50%;
	width: 50%;
	left: 60%;
	padding: 5px;

}

.logoB{
	position: absolute;
	top: 30%;
	width: 50%;
	left: 160px;

}


.mission{

	width: 500px;
	background-color: #f5f5f5;
	box-shadow: 0 0 20px 0;
	top: 45%;
	position: absolute;
 	font-size: 24px;
}
.menu-links a{
	list-style-type: none;
	text-decoration: none;
	color: floralwhite;
	display: block;
	width: fit-content;
	margin: 10px 0;
 	font-size: 36px;
 }	

 .menu-links a::after{
 	content: '';
 	width: 40px;
 	height: 5px;
 	background: beige;
 	display: none;
 	margin-left: 10px;
 	margin-bottom: 5px;
 }

.menu-links a:hover{
	font-weight: 700;
	color: darkgrey;
}

.menu-links a:hover::after{
	display: inline-block;
}

.contact-box{
	width: 500px;
	background-color: antiquewhite;
	box-shadow: 0 0 20px 0;
	top: 55%;
	position: absolute;
}

form{
	margin: 35px;
}

.input-field{
	width: 400px;
	height: 40px;
	margin-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid #777;
	border-radius: 14px;
	outline: none;
}

.textarea-field{
	height: 150px;
	padding-top: 10px;

}

.btn{
	border-radius: 20px;
	color: white;
	margin-top: 18px;
	padding: 10px;
	background-color: maroon;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

.health{

	width: 600px;
	background-color: #f5f5f5;
	box-shadow: 0 0 20px 0;
	position: absolute;
	top: 45%;
	left: 550px;
 	font-size: 24px;

}

.farmers{
	top: 30%
	left: 10%;
	font-size: 25px;
	padding-left: 340px;
}

.owner{
	left: 10%;
	font-size: 15px;
	padding-left: 560px
}

.aboutFF{
        margin: auto;
	width: 850px;
	background-color: #f5f5f5;
	box-shadow: 0 0 20px 0;
	top: 75%;
	position: absolute;
	left: 100px;
 	font-size: 24px;
}


/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

footer{
	margin-top:auto;
}

@media screen and (max-width:1200px) {
    /*Normal Screen*/

    .navbar{
    	width: 100%;
    	height: 100px;
	}

	ul{
		margin-left: 30px;
	}

	ul li{
		margin-left: 60px;
	}

	ul li a{
		font-size: 1.6vw;
	}
}

@media screen and (max-width:830px){
	/*Tablet*/

	.content{
		margin-top: 120px;
		width: 80%;
		margin-left: 40px;
	}
}

















